<h2>Registration</h2>
<app-card>
  <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="control">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
    </div>
    <div class="control">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <div class="control">
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" formControlName="firstname">
    </div>
    <div class="control">
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" formControlName="lastname">
    </div>
    <div class="control">
      <label for="address">Address:</label>
      <input type="text" id="address" formControlName="address">
    </div>
    <div class="control">
      <label for="school">School:</label>
      <input type="text" id="school" formControlName="school">
    </div>
    <div *ngIf="registrationError" class="alert alert-danger">
      {{ registrationError }}
    </div>
    <div class="actions">
      <button type="submit">Register</button>
    </div>
  </form>
</app-card>
