<h2>Login</h2>
<app-card>
  <form class="form" (ngSubmit)="onSubmit()">
    <div class="control">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username">
    </div>
    <div class="control">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password">
    </div>
    <div class="actions">
      <button type="submit">Login</button>
    </div>
  </form>
</app-card>

